<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5" style="max-width: 500px;">
        <h1 class="mb-4 text-center">Escolha uma ação:</h1>

        <div class="d-grid gap-2">
            <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('registro_dados') }}'">Registrar Dados</button>
            <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('listar_dados') }}'">Listar Dados</button>
            <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('editar_dados') }}'">Editar Dados</button>
            <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('deletar_dados') }}'">Excluir Dados</button>
        </div>
    </div>

</body>

</html>